

#srch{
    display: flex !important;
    position: absolute !important;
    right: 10% !important;
    margin-left: 30px !important;

}

.custom-select-width {
    width: 150px; /* Adjust the width as needed */
  }
